#popup_background {
    background-color: rgba(0, 0, 0, 0.459);
    height: 100%;
    width: 100%;
    position:absolute;
    visibility: hidden;
    display: none;
    z-index: 9999;
    overflow-y:auto;
}

#popup_window {
    background-color: #101204;
    color:white;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    border: 2px solid #282925;
    border-radius: 10px;
    width:500px;
    height:600px;
}

#popup_background.show {
    visibility:visible;
    display: block;
}

#popup_exit {
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #101204;
    color:white;
    top:20px;
    right:20px;
    height: 30px;
    width: 30px;
    padding: 0;
    position: absolute;
    cursor: pointer;
}

#popup_exit:hover {
    background-color: #1e1f19;
}

#popup_title {
    width: 90%;
    background-color: #1c1d17;
    color:white;
    font-size:20px;
    font-weight: 600;
    border-radius: 4px;
    line-height: 24px;
    min-height: 24px;
    resize:none;
    overflow:hidden;
    overflow-wrap: break-word;
}

#popup_description_title {
    text-align: left;
    font-weight: 600;
    font-size:16px;
}

#popup_description {
    width: 90%;
    background-color: #1c1d17;
    color:white;
    font-size:12px;
    border-radius: 4px;
    line-height: 18px;
    min-height: 128px;
    resize:none;
    overflow:hidden;
    overflow-wrap: break-word;
}

#popup_save {
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #101204;
    color:white;
    bottom:20px;
    right:20px;
    height: 30px;
    width: 60px;
    padding: 0;
    position: absolute;
    cursor: pointer;

    transition: background-color 0.5s;
}

#popup_save:hover {
    background-color: #1e1f19;
}

#popup_save.wait {
    background-color: #c8c9b1;
}